spawn-at-startup "kwalletd6"
spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &"
spawn-sh-at-startup "export QT_QPA_PLATFORMTHEME=qt6ct && dbus-update-activation-environment --all --systemd"
spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "XDG_MENU_PREFIX=arch- kbuildsycoca6"
spawn-at-startup "/usr/lib/xdg-desktop-portal" 
spawn-at-startup "/usr/lib/xdg-desktop-portal-kde"

hotkey-overlay {
    skip-at-startup
}
